<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>調課功能</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            
            <label>日期</label>
            <input type="date" id="BeDate" value="" class="form-control" />
            <label>開始節數</label>
            <select id="BeStartTime" class="form-control">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <label>結束節數</label>
            <select id="BeEndTime" class="form-control">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <br />
<!--
            <label>課號</label>
            <input type="text" id="cid" class="form-control" />
            or
            <br />
            <br />
            <label>課名</label>
            <input type="text" id="cname" class="form-control" />
            <br />
-->
            <br />
            <label>調課日期</label>
            <input type="date" id="EdDate" value="" class="form-control" />
            <label>開始節數</label>
            <select id="EdStartTime" class="form-control">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <label>結束節數</label>
            <select id="EdEndTime" class="form-control">
                <option
                selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <label>教室</label>
            <select id="EdClassroom" class="form-control">
                <option>E212</option>
                <option>E407</option>
                <option>E409</option>
                <option>E410</option>
            </select>
            <br/>
            <button class="btn btn-success btn-block" id="reschedule">調課</button>
            <button class="btn btn-success btn-block" id="cancel">停課</button>

        </div>
    </div>

    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
	<script>
        function initializeLiff(myLiffId) {
            liff.init({liffId: myLiffId });
        }

		function PushReschedule(smb,BeDate,BeStartTime,BeEndTime,EdDate,EdStartTime,EdEndtime,EdClassroom) {
            var msg = "####";  //回傳訊息字串
            if (BeDate == '' || BeStartTime == '' || BeEndTime == '' || EdDate == '' || EdStartTime == '' || EdEndtime == '' || EdClassroom == '') {  //資料檢查
                alert('請輸入原本日期、時段及調課後日期、時段！');
                return;}
            msg = msg + 'r' + "/";
            msg = msg + BeDate + "/";
			msg = msg + BeStartTime + "/";        
            msg = msg + BeEndTime + "/";
            msg = msg + EdDate + "/";
            msg = msg + EdStartTime + "/";
            msg = msg + EdEndtime + "/";
            msg = msg + EdClassroom;

            liff.sendMessages([  //推播訊息
				{ type: 'text',text: msg}
			])
				.then(() => {
					liff.closeWindow();  //關閉視窗
				});
        }
        function PushCancel(smb,BeDate,BeStartTime,BeEndTime) {
            var msg = "####";  //回傳訊息字串
            if (BeDate == '' || BeStartTime == '' || BeEndTime == '') {  //資料檢查
                alert('請輸入原本日期、時段！');
                return;}
            msg = msg + 'c' + "/";
            msg = msg + BeDate + "/";
			msg = msg + BeStartTime + "/";
            msg = msg + BeEndTime;
            
			liff.sendMessages([  //推播訊息
				{ type: 'text',text: msg}
			])
				.then(() => {
					liff.closeWindow();  //關閉視窗
				});
		}

		$(document).ready(function () {
			initializeLiff('{{ liffid }}');  //接收傳遞的 liffid 參數
			$('#reschedule').click(function (e) {  //按下調課鈕
				PushReschedule('r', $('#BeDate').val(), $('#BeStartTime').val(),  $('#BeEndTime').val(),  $('#EdDate').val(),  $('#EdStartTime').val(),  $('#EdEndtime').val(),  $('#EdClassroom').val());
			});
            $('#cancel').click(function (e) {  //按下停課鈕
				PushCancel('c', $('#BeDate').val(), $('#BeStartTime').val(), $('#BeEndTime').val());
			});
		});
	</script>
</body>
</html>