<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>教師資料</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row" style="margin: 10px">

    <form method="post" action="/post_student">
        <label>學號</label>
        <input type="text" id="id" name="id" class="form-control" placeholder="B1012003" />
        <label>姓名</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="王大明"/>
            
        <label>系所</label>
        <select id="major" name="major" class="form-control" >
            <option selected></option>
            <option>CS</option>
            <option>ARHY</option>
            <option>MATH</option>
            <option>Geo</option>
            <option>Ocean</option>
            </select>
            
        <label>年級</label>
        <select id="grade" name="grade" class="form-control" >
            <option selected></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <br />
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-success" type="submit" formaction="/update_student">Update</button>
        <!-- <input type="submit" name="action" value="Insert" />
        <input type="submit" name="action" value="Update" /> -->
        <!-- <button class="btn btn-primary" id="insert">新增</button> -->
    </form>

    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
	<script>
        function initializeLiff(myLiffId) {
            liff.init({liffId: myLiffId });
        }

	// 	function pushMsg(smb,sid,name,grade,major) {
    //         var msg = "##$";  //回傳訊息字串
    //         switch(smb){
    //             case 'i':
    //                 if (sid == '' || name == '') {  //資料檢查
    //                     alert('請至少輸入工號、姓名！');
    //                     return;}
    //                 msg = msg + 'i' + "/";
    //                 break;
    //             case 'd':
    //                 if (sid == '') {  //資料檢查
    //                     alert('請輸入工號！');
    //                     return;}
    //                 msg = msg + 'd' + "/";
    //                 break;
    //         }
	// 		msg = msg + sid + "/";
	// 		msg = msg + name + "/";
	// 		msg = msg + major + "/";
    //         msg = msg + grade;
	// 		liff.sendMessages([  //推播訊息
	// 			{ type: 'text',text: msg}
	// 		])
	// 			.then(() => {
	// 				liff.closeWindow();  //關閉視窗
	// 			});
	// 	}

	// 	$(document).ready(function () {
	// 		initializeLiff('{{ liffid }}');  //接收傳遞的 liffid 參數
	// 		$('#insert').click(function (e) {  //按下確定鈕
	// 			pushMsg('i', $('#sid').val(), $('#name').val(),
    //             $('#grade').val(),
    //             $('#major').val());
	// 		});
    //         $('#delete').click(function (e) {  //按下確定鈕
	// 			pushMsg('d', $('#sid').val(), $('#name').val(),
    //             $('#grade').val(),
    //             $('#major').val());
	// 		});
	// 	});
	// </script>
</body>
</html>